<a href="https://colab.research.google.com/github/sateeshfrnd/DataAnalysisWithPython/blob/master/6_Working_with_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List

**Data structures** are containers that organize and group data types together in different ways. A **List** is one of the most common and basic data structures in Python.

Python List store a series of items in a particular order. Lists are mutable.

### Defining a List
- Defining a list by using square brackets and use commas to separate individual items in the list. 
- Lists can contain any mix and match of the data types.

In [0]:
list1 = [1,2,3, 'Hello',5, "Hi"]
print(list1)

[1, 2, 3, 'Hello', 5, 'Hi']

In [0]:
list_empty = []
print(list_empty)

[]

In [0]:
list_empty2 = list()
print(list_empty2)

[]

- Nested List : A list within List

In [0]:
list2 = [1,2,3, ['Hello',5], "Hi"]
print(list2)

[1, 2, 3, ['Hello', 5], 'Hi']

In [0]:
list_multi = [[1,2,3], [4,5,6],[7,8,9]]
print(list_multi)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Accessing elements
- Individual elements in a list are accessed through index.
- Index starts with 0
- Negative index refers to itemsat the end of the list.

In [0]:
print(list1)
print('first item = ',list1[0])
print('last item = ',list1[-1])
print(list1[-2])
print(list1[3])
print(list1[2:5])
print(list1[:])

[1, 2, 3, 'Hello', 5, 'Hi']
first item =  1
last item =  Hi
5
Hello
[3, 'Hello', 5]
[1, 2, 3, 'Hello', 5, 'Hi']

In [0]:
mlist = [[1,2,3,[10,20,30,[100,200,300]]]]
print(mlist[0][3][3][1])

200

## Traversing a list

The most common way to traverse the elements of a list is with a for loop.

In [0]:
for item in list2:
    print(item)

1
2
3
['Hello', 5]
Hi

Python provides an efficient way to loop through all the items in a list. When you set up a loop, Python pulls each item from the list one at a time and stores it in a temporary variable, which you provide a name for. This name should be the singular version of the list name. 

The indented block of code makes up the body of the loop, where you can work with each individual item. Any lines that are not indented run after the loop is completed.

## List Operations

In [0]:
# concatenate lists usinf '+' operator
x = [1, 2, 3]
y = [4, 5, 6]
print(x + y)

[1, 2, 3, 4, 5, 6]

In [0]:
print(x * 2)

[1, 2, 3, 1, 2, 3]

## Slicing and Dice with Lists
Reading more than one value from a list at a time by using slicing. When using slicing, it is important to remember that the lower index is inclusive and the upper index is exclusive.

In [0]:
print(list1)
print(list2)

[1, 2, 3, 'Hello', 5, 'Hi']
[1, 2, 3, ['Hello', 5], 'Hi']

In [0]:
print(list1[1:4])

[2, 3, 'Hello']

Notice this is still different than just indexing a single element, because you get a list back with this indexing. The colon tells us to go from the starting value on the left of the colon up to, but not including, the element on the right.

If you know that you want to start at the beginning, of the list you can also leave out this value.

In [0]:
print(list1[:4])

[1, 2, 3, 'Hello']

If you know that you want to start at the ending, of the list you can also leave out this value.

In [0]:
print(list1[-4])

3

Get all of the elements to the end of the list, we can leave off a final element.

In [0]:
print(list1[2:])

[3, 'Hello', 5, 'Hi']

In [0]:
print(list1[:])

['1', 2, 3, 'Hello', 5, 'Hi']

#### Note: 
- This type of indexing works exactly the same on strings, where the returned value will be a string.
- Since lists are mutable, it is often useful to make a copy before performing operations that fold, spindle, or mutilate lists.

# Check is element is 'in' or 'not in'

In [0]:
"Python" in "Python Programming"

True

In [0]:
"Program" in "Python Programming"

True

In [0]:
6 not in ['1', 2, 3, 'Hello', 5, 'Hi']

True

In [0]:
5 in ['1', 2, 3, 'Hello', 5, 'Hi']

True


## Mutability
**Mutability** is about whether or not we can change an object once it has been created. 
- If an object (like a list or string) can be changed (like a list can), then it is called **Mutable**.

- if an object cannot be changed with creating a completely new object (like strings), then the object is considered **Immutable**.

In [0]:
print(list1)
print(list2)

['1', 2, 3, 'Hello', 5, 'Hi']
[1, 2, 3, ['Hello', 5], 'Hi']

In [0]:
list1[0] = 'first'
print(list1)

['first', 2, 3, 'Hello', 5, 'Hi']

In [0]:
list1[-1] = 'last'
print(list1)

['first', 2, 3, 'Hello', 5, 'last']

*We are able to replace elements in the above list. This is because lists are mutable.*

However, the following does not work:

In [0]:
wishes = "Hello, Good Morning"
wishes[0] = 'S'

TypeError: ignored

This is because strings are immutable. This means to change this string, you will need to create a completely new string.

There are two things to keep in mind for each of the data types you are using:

- Are they **mutable**?
- Are they **ordered**?

**Order** is about whether the position of an element in the object can be used to access the element. 

**Both strings and lists are ordered**. We can use the order to access parts of a list and string.

## Adding an element to list

In [0]:
# Adding an element to the endof the list
list1.append('last')
print(list1)

['first', 2, 3, 'Hello', 5, 'last', 'last']

In [0]:
# Insert element at a particular position
list1.insert(0, 'first')
print(list1)

['first', 'first', 2, 3, 'Hello', 5, 'last', 'last']

In [0]:
list1.insert(4, 'middle')
print(list1)

['first', 'first', 2, 3, 'middle', 'Hello', 5, 'last', 'last']

## Removing elements

In [0]:
# Removing an item by its position
print(list1)
del list1[-2]
print(list1)

['first', 'first', 2, 3, 'middle', 'Hello', 5, 'last', 'last']
['first', 'first', 2, 3, 'middle', 'Hello', 5, 'last']

In [0]:
# Removing an item by its value (removes only the first item that has that value.)
print(list1)
list1.remove('middle')
print(list1)

['first', 'first', 2, 3, 'middle', 'Hello', 5, 'last']
['first', 'first', 2, 3, 'Hello', 5, 'last']

### Sorting List

In [0]:
num_list = [43,435,76,45,97,2,56]
print (num_list)

[43, 435, 76, 45, 97, 2, 56]

In [0]:
num_list.sort()
print (num_list)

num_list.sort(reverse=True)
print (num_list)

[2, 43, 45, 56, 76, 97, 435]
[435, 97, 76, 56, 45, 43, 2]

Note: sort() function returns a copy of the sorted list and leaving the original order.

In [0]:
# sorting a list temporarily
num_list = [43,435,76,45,97,2,56]
print (num_list)

print(sorted(num_list)) 
print(sorted(num_list, reverse=True))
print (num_list)

[43, 435, 76, 45, 97, 2, 56]
[2, 43, 45, 56, 76, 97, 435]
[435, 97, 76, 56, 45, 43, 2]
[43, 435, 76, 45, 97, 2, 56]

In [0]:
# Reversing the order of a list
print (num_list)
num_list.reverse()
print (num_list)

[43, 435, 76, 45, 97, 2, 56]
[56, 2, 97, 45, 76, 435, 43]

### range() function

- Using range() function, we can generate a large list of numbers.
- It starts by default with 0 and stops one number below the number passed (n-1)

In [0]:
for x in range(5):
    print(x)

0
1
2
3
4

In [0]:
for x in range(5,10):
    print(x)

5
6
7
8
9

In [0]:
nums = list(range(7,12))
print(nums)

[7, 8, 9, 10, 11]

In [0]:
# simple statistics on list
nums = list(range(7,12))
print(nums)
print('minValue = ', min(nums))
print('maxValue = ', max(nums))
print('sumValue = ', sum(nums))

[7, 8, 9, 10, 11]
('minValue = ', 7)
('maxValue = ', 11)
('sumValue = ', 45)

## List function

- len() returns how many elements are in a list.
- max() returns the greatest element of the list. How the greatest element is determined depends on what type objects are in the list. The maximum element in a list of numbers is the largest number. The maximum elements in a list of strings is element that would occur last if the list were sorted alphabetically. This works because the the max function is defined in terms of the greater than comparison operator. The max function is undefined for lists that contain elements from different, incomparable types.
- min() returns the smallest element in a list. min is the opposite of max, which returns the largest element in a list.

In [0]:
print (num_list)

[56, 2, 97, 45, 76, 435, 43]

In [0]:
print('List Length',len(num_list))
print('Max value ', max(num_list))
print('Min value ', min(num_list))
print('Sum ', sum(num_list))

List Length 7
Max value  435
Min value  2
Sum  754

## Join method

Join is a string method that takes a list of strings as an argument, and returns a string consisting of the list elements joined by a separator string.

In [1]:
my_name = "-".join(["Satish", "Kumar","Uppara"])
print (my_name)

Satish-Kumar-Uppara

Here,  we use the string "-" as the separator so that there is a hyphen "-" between each element. We can also use other strings as separators with .join. Here we use a space.

In [2]:
my_name = " ".join(["Satish", "Kumar","Uppara"])
print (my_name)

Satish Kumar Uppara

## append method
Helpful method to add an element to the end of a list.

In [3]:
letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)

['a', 'b', 'c', 'd', 'z']

## Lists and strings

In [0]:
string1 = "Hello World!"
list3 = list(string1)
print(list3)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [0]:
str = string1.split()
print(str)

['Hello', 'World!']

## Get unique words from file

In [0]:
fileName = input("Enter the File path : ")
print(fileName)

Enter the File path : D:\Python\sample-data\python.txt
D:\Python\sample-data\python.txt

In [0]:
fh = open(fileName)
words = list()
for line in fh:
    lwords = line.rstrip().split()
    for word in lwords:
        if word not in words:
            words.append(word)
            words.sort()
print(words)

['It', 'Python', "Python's", 'You', 'a', 'an', 'and', 'application', 'approach', 'are', 'areas', 'be', 'both', 'but', 'can', 'claim', 'concentrate', 'data', 'development', 'dynamic', 'easy', 'effective', 'efficient', 'elegant', 'find', 'for', 'has', 'high-level', 'how', 'ideal', 'in', 'in.', 'interpreted', 'is', 'it', 'its', 'language', 'language.', 'languages', 'learn,', 'make', 'many', 'most', 'nature,', 'object-oriented', 'of', 'on', 'one', 'platforms.', 'pleasantly', 'powerful', 'powerful.', 'problem', 'programming', 'programming.', 'rapid', 'rare', 'rather', 'scripting', 'see', 'simple', 'solution', 'structure', 'structures', 'surprised', 'syntax', 'than', 'the', 'those', 'to', 'together', 'typing,', 'which', 'will', 'with', 'you', 'yourself']