# Task 1

### 1. Install Jupyter notebook and run the first program and share the screenshot of the output.

https://github.com/sateeshfrnd/DataAnalysisWithPython/blob/master/Assignments/jupeter-notebook.PNG

### 2. Write a program which will find all such numbers which are divisible by 7 but are not a multipleof 5, between 2000 and 3200 (both included). The numbers obtained should be printed in acomma-separated sequence on a single line.

In [0]:
numList=list()
for i in range(2000,2055):
    if i%7 == 0 and i%5 !=0:
       numList.append(str(i))
  
result = ",".join(numList)
print(result)

2002,2009,2016,2023,2037,2044,2051

### 3. Write a Python program to accept the user's first and last name and then getting them printed inthe the reverse order with a space between first name and last name.

In [0]:
fname = input("First Name: ")
lname = input("Last Name: ")

str = " ".join([lname, fname])
print(str)

result = " ".join([fname[::-1], lname[::-1]])
print(result)

First Name: Satish
Last Name: Kumar
Kumar Satish
hsitaS ramuK

### 4. Write a Python program to find the volume of a sphere with diameter 12 cm.
#### Formula: V=4/3 * π * r3

In [0]:
import math
PI=math.pi
d = input("Diameter: ")
r = int(d)/2
volume = 4/3 * PI * (r**3)
print("Volume = ",volume)

Diameter: 12
Volume =  904.7786842338603

# Task 2

### 1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [0]:
seq = input("Enter numbers with comma as separater: ")
print(seq)
list = seq.split(',')
print(type(list))
print(list)

Enter numbers with comma as separater: 23,56,3,65,68,4356,34
23,56,3,65,68,4356,34
<class 'list'>
['23', '56', '3', '65', '68', '4356', '34']

### 2. Create the below pattern using nested for loop in Python.** ** * ** * * ** * * * ** * * ** * ** **

In [0]:
count = 0
i = 0
while (count < 9):
    if count < 5 :
        i = i + 1
    else:
        i = i -1
    print(i*"*")
    count =count + 1

*
**
***
****
*****
****
***
**
*

### 3. Write a Python program to reverse a word after accepting the input from the user.
- Sample Output:
    - Input word: AcadGild
    - Output: dilGdacA

In [0]:
input = input("Input Word: ")
output = input[::-1]
print("Output : ",output)

Input Word: AcadGild
Output :  dliGdacA

### 4.Write a Python Program to print the given string in the format specified in the ​sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into aSOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to allits citizens

Sample Output:
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, !SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC  and to secure to all its citizens

In [2]:
str = "WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t  and to secure to allits citizens..."

print(str.expandtabs())

WE, THE PEOPLE OF INDIA,
        having solemnly resolved to constitute India into a SOVEREIGN,!
                 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                  and to secure to allits citizens...