In [17]:
import pandas as pd
import numpy as np

## Q101. Write the Python program to add, subtract, multiply and divide two pandas series ?

In [5]:
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([6, 7, 8, 9, 10])

add = ds1 + ds2
print("\nAdd two Series:")
print(add)

print("\nSubtract two Series:")
sub = ds1 - ds2
print(sub)

print("\nMultiply two Series:")
mul = ds1 * ds2
print(mul)

print("\nDivide Series1 by Series2:")
div = ds1 / ds2
print(div)

Add two Series:
0     7
1     9
2    11
3    13
4    15
dtype: int64

Subtract two Series:
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

Multiply two Series:
0     6
1    14
2    24
3    36
4    50
dtype: int64

Divide Series1 by Series2:
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

## Q102. Write a Python program to convert a dictionary to the Pandas Series?

Sample Series- 
Original dictionary- {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800} 
Converted series - 
a 100 b 200 c 300 d 400 e 800 dtype- int64

In [6]:
dict = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary- ")
print(dict)

s = pd.Series(dict)
print("Converted series-")
print(s)

Original dictionary-
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series-
a    100
b    200
c    300
d    400
e    800
dtype: int64

## Q103. Write a python program to change the data type of given a column or a Series?

Sample Series- 
Original Data Series- 
0 100
1 200 
2 python 
3 300.12 
4 400 
dtype- object 

Change the said data type to numeric- 
0 100.00 
1 200.00 
2 NaN 
3 300.12 
4 400.00 
dtype- float64

s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series-",s1)

print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

## Q104. Write the python pandas program to convert the first column of a DataFrame as a Series?

Sample Output- 
Original DataFrame- 
col1 col2 col3 
0 1 4 7 
1 2 5 5
2 3 6 8 
3 4 9 12 
4 7 5 1 
5 11 0 11 

1st column as a Series- 
0 1 
1 2 
2 3 
3 4 
4 7 
5 11 
Name- col1, dtype- int64 <class 'pandas.core.series.Series'>

In [13]:
dic = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=dic)
print("Original DataFrame")
print(df)

print(' ')
s1 = df.iloc[:,0]
print("1st column as a Series:")
print(s1)
print(type(s1))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

## Q105. Write a pandas program to create the mean and standard deviation of the data of a given Series?

Sample Output- 
Original Data Series-
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the said Data Series:
4.818181818181818
Standard deviation of the said Data Series:
2.522624895547565

In [14]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series-")
print(s)

print("Mean of the said Data Series:")
print(s.mean())

print("Standard deviation of the said Data Series:")
print(s.std())

Original Data Series-
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the said Data Series:
4.818181818181818
Standard deviation of the said Data Series:
2.522624895547565

## Q106. Write a pandas program to get powers of an array values element-wise? 
- Note First array elements raised the powers from the second array.

In [24]:
np1 = np.array([0,1,2,3,4])
pd.DataFrame({'X':np1, 'Y':np.power(np1,np1)})

   X    Y
0  0    1
1  1    1
2  2    4
3  3   27
4  4  256

## Q107. Write the pandas program to get the first 3 rows of a given DataFrame?

Sample DataFrame:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [27]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],        
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("First three rows of the data frame:")
print(df.iloc[:3])

First three rows of the data frame:
        name  attempts  score qualify
a  Anastasia         1   12.5     yes
b       Dima         3    9.0      no
c  Katherine         2   16.5     yes

## Q108: Write the pandas program to select the specified columns and the rows from a given data frame?

Sample DataFrame:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Select specific columns and rows- 
name score 
b Dima 9.0 
d James NaN 
f Michael 20.0 
g Matthew 14.5

In [33]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)
print("Select specific columns and rows:")
print(df.iloc[[1, 3, 5, 6], [0, 1]])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Select specific columns and rows:
      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

## Q109. Write the pandas program to calculate mean score for each different student in DataFrame?

Sample DataFrame:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Expected Output- 
Mean score for each different student in data frame: 13.5625

In [36]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Mean score for each different student in data frame:",df['score'].mean())

Mean score for each different student in data frame: 13.5625

## Q110. Write the Pandas program to rename columns of a given DataFrame ?

Sample data:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 8
2 3 6 9
New DataFrame after renaming columns:
Column1 Column2 Column3
0 1 4 7
1 2 5 8
2 3 6 9

In [38]:
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)

df.columns = ['Column1', 'Column2', 'Column3']
df = df.rename(columns={'col1': 'Column1', 'col2': 'Column2', 'col3': 'Column3'})
print("New DataFrame after renaming columns:")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
New DataFrame after renaming columns:
   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9