In [1]:
# Import NumPy package and load pandas
import numpy as np
import pandas as pd

In [2]:
dict = {
    'col1' : {'R1':1.2,'R2':2.2}, 
    'col2':{'R1':3.2,'R2':4.2, 'R3':5.5},
    'col3' : {'R1':'A', 'R2':'B','R3':'C','R4:':'D'},
    'col4' : {'R1':'X', 'R2':'Y','R3':'Z','R6:':'D'},
    'col5' : {'R1':1, 'R2':2,'R3':3,'R5:':4}
}
df = pd.DataFrame(dict)
df

     col1  col2 col3 col4  col5
R1    1.2   3.2    A    X   1.0
R2    2.2   4.2    B    Y   2.0
R3    NaN   5.5    C    Z   3.0
R4:   NaN   NaN    D  NaN   NaN
R5:   NaN   NaN  NaN  NaN   4.0
R6:   NaN   NaN  NaN    D   NaN

In [3]:
df.columns # Get the column names

Index(['col1', 'col2', 'col3', 'col4', 'col5'], dtype='object')

In [4]:
df.index # Get the row names

Index(['R1', 'R2', 'R3', 'R4:', 'R5:', 'R6:'], dtype='object')

In [5]:
df.head() # head method selects only the first five rows

     col1  col2 col3 col4  col5
R1    1.2   3.2    A    X   1.0
R2    2.2   4.2    B    Y   2.0
R3    NaN   5.5    C    Z   3.0
R4:   NaN   NaN    D  NaN   NaN
R5:   NaN   NaN  NaN  NaN   4.0

In [6]:
df.head(3)

    col1  col2 col3 col4  col5
R1   1.2   3.2    A    X   1.0
R2   2.2   4.2    B    Y   2.0
R3   NaN   5.5    C    Z   3.0

### Acessing Columns

#### Accessing the elements by dict-like notation or by attribute

In [7]:
print(type(df['col3']))
print(df['col3'])

<class 'pandas.core.series.Series'>
R1       A
R2       B
R3       C
R4:      D
R5:    NaN
R6:    NaN
Name: col3, dtype: object

In [8]:
print(type(df.col3))
print(df.col3)

<class 'pandas.core.series.Series'>
R1       A
R2       B
R3       C
R4:      D
R5:    NaN
R6:    NaN
Name: col3, dtype: object

#### Access a subset of the columns in a dataframe by placing the list of columns

In [9]:
df.col3.head(3)

R1    A
R2    B
R3    C
Name: col3, dtype: object

In [10]:
df['col3'].head(3)

R1    A
R2    B
R3    C
Name: col3, dtype: object

In [11]:
df[['col3','col2']].head(3)

   col3  col2
R1    A   3.2
R2    B   4.2
R3    C   5.5

### Slicing

In [12]:
df['col3'][:2]

R1    A
R2    B
Name: col3, dtype: object

In [13]:
df[['col3','col1']][:2]

   col3  col1
R1    A   1.2
R2    B   2.2

## Accessing Rows

#### Rows can be accessed by position or name with the .loc() and iloc() methods.

In [14]:
df.loc['R2']

col1    2.2
col2    4.2
col3      B
col4      Y
col5      2
Name: R2, dtype: object

In [15]:
type(df.loc['R2']) # Accessed by label

pandas.core.series.Series

In [16]:
df.iloc[1] # Access with index

col1    2.2
col2    4.2
col3      B
col4      Y
col5      2
Name: R2, dtype: object

#### Multiple Rows can be accessed by passing list of row position or index.

In [17]:
df.loc[['R2','R3']]

    col1  col2 col3 col4  col5
R2   2.2   4.2    B    Y   2.0
R3   NaN   5.5    C    Z   3.0

In [18]:
type(df.loc[['R2','R3']])

pandas.core.frame.DataFrame

In [19]:
df.iloc[[1,2]]

    col1  col2 col3 col4  col5
R2   2.2   4.2    B    Y   2.0
R3   NaN   5.5    C    Z   3.0

In [20]:
type(df.iloc[[1,2]])

pandas.core.frame.DataFrame

### Slicing

In [21]:
df[:2]

    col1  col2 col3 col4  col5
R1   1.2   3.2    A    X   1.0
R2   2.2   4.2    B    Y   2.0

In [22]:
df[2:4]

     col1  col2 col3 col4  col5
R3    NaN   5.5    C    Z   3.0
R4:   NaN   NaN    D  NaN   NaN

## Accessing Value

In [23]:
df

     col1  col2 col3 col4  col5
R1    1.2   3.2    A    X   1.0
R2    2.2   4.2    B    Y   2.0
R3    NaN   5.5    C    Z   3.0
R4:   NaN   NaN    D  NaN   NaN
R5:   NaN   NaN  NaN  NaN   4.0
R6:   NaN   NaN  NaN    D   NaN

In [24]:
df.col3.iloc[2]

'C'

In [25]:
type(df.col3.iloc[2])

str

In [26]:
df.col3.iloc[[2]]

R3    C
Name: col3, dtype: object

In [27]:
type(df.col3.iloc[[2]])

pandas.core.series.Series

In [28]:
(df.col2 > 4)

R1     False
R2      True
R3      True
R4:    False
R5:    False
R6:    False
Name: col2, dtype: bool

In [29]:
(df.col2.isnull())

R1     False
R2     False
R3     False
R4:     True
R5:     True
R6:     True
Name: col2, dtype: bool

We get a series of the results of the boolean based on conditon. By passing that series to a dataframe returns the subset of the dataframe where the condition is True

In [30]:
df[(df.col2 > 4)]

    col1  col2 col3 col4  col5
R2   2.2   4.2    B    Y   2.0
R3   NaN   5.5    C    Z   3.0

In [31]:
df[(df.col2.isnull())]

     col1  col2 col3 col4  col5
R4:   NaN   NaN    D  NaN   NaN
R5:   NaN   NaN  NaN  NaN   4.0
R6:   NaN   NaN  NaN    D   NaN

In [32]:
df[(df.col2.notnull())]

    col1  col2 col3 col4  col5
R1   1.2   3.2    A    X   1.0
R2   2.2   4.2    B    Y   2.0
R3   NaN   5.5    C    Z   3.0

In [33]:
df[df.col3.isin(['A','D'])]

     col1  col2 col3 col4  col5
R1    1.2   3.2    A    X   1.0
R4:   NaN   NaN    D  NaN   NaN

Reference: 
- https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html