In [18]:
# Import NumPy package and load pandas
import numpy as np
import pandas as pd

## Transpose

In [4]:
dict = {'col' : {'R1':1.2,'R2':2.2}, 'col2':{'R1':3.2,'R2':4.2, 'R3':5.5}}
df = pd.DataFrame(dict)
df

    col  col2
R1  1.2   3.2
R2  2.2   4.2
R3  NaN   5.5

In [5]:
print('Columns ',df.columns)
print('Rows = ',df.index)

Columns  Index(['col', 'col2'], dtype='object')
Rows =  Index(['R1', 'R2', 'R3'], dtype='object')

In [6]:
df_transpose = df.T
df_transpose

       R1   R2   R3
col   1.2  2.2  NaN
col2  3.2  4.2  5.5

In [7]:
print('Columns ',df_transpose.columns)
print('Rows = ',df_transpose.index)

Columns  Index(['R1', 'R2', 'R3'], dtype='object')
Rows =  Index(['col', 'col2'], dtype='object')

## Rearrange columns in specific order

In [9]:
dict= {
    'col1' : [1,2,3,4],
    'col3' : [5,6,7,8],
    'col2' : ['A','B','C','D'],
    'col4' : ['X','Y','Z','D']
}
df = pd.DataFrame(dict, index = ['R1', 'R2', 'R3', 'R4'])
df

    col1  col3 col2 col4
R1     1     5    A    X
R2     2     6    B    Y
R3     3     7    C    Z
R4     4     8    D    D

In [10]:
# DataFrameâ€™s columns can be arranged in specific order by specifing a sequence of columns
df_order = pd.DataFrame(df, columns=['col1', 'col2', 'col3', 'col4'])
df_order

    col1 col2  col3 col4
R1     1    A     5    X
R2     2    B     6    Y
R3     3    C     7    Z
R4     4    D     8    D

In [11]:
# If you pass a column that isnâ€™t contained in the dict, it will appear with missing values
df_order1 = pd.DataFrame(df, columns=['col0','col1', 'col2', 'col3', 'col4', 'col5'])
df_order1

    col0  col1 col2  col3 col4  col5
R1   NaN     1    A     5    X   NaN
R2   NaN     2    B     6    Y   NaN
R3   NaN     3    C     7    Z   NaN
R4   NaN     4    D     8    D   NaN

# Update, Add and Delete columns

In [12]:
# Set the column values
df_order1['col0'] = 0
df_order1['col5'] = np.arange(4)
df_order1

    col0  col1 col2  col3 col4  col5
R1     0     1    A     5    X     0
R2     0     2    B     6    Y     1
R3     0     3    C     7    Z     2
R4     0     4    D     8    D     3

In [13]:
values = pd.Series([1.8, 1.7], index=['R1', 'R3'])
df_order1['col0'] = values
df_order1

    col0  col1 col2  col3 col4  col5
R1   1.8     1    A     5    X     0
R2   NaN     2    B     6    Y     1
R3   1.7     3    C     7    Z     2
R4   NaN     4    D     8    D     3

In [15]:
# Adding new column - Assigning a column that doesnâ€™t exist will create a new column.
df_order1['col_even'] = df_order1['col1'] % 2 == 0
df_order1

    col0  col1 col2  col3 col4  col5  col_even
R1   1.8     1    A     5    X     0     False
R2   NaN     2    B     6    Y     1      True
R3   1.7     3    C     7    Z     2     False
R4   NaN     4    D     8    D     3      True

In [16]:
# del method can then be used to remove a column
del df_order1['col_even']
df_order1.columns

Index(['col0', 'col1', 'col2', 'col3', 'col4', 'col5'], dtype='object')

# Reindexing
Reindex can alter either the (row) index, columns, or both.

In [19]:
df = pd.DataFrame(np.arange(9).reshape((3,3)), index = ('r1', 'r3', 'r4'), columns= ['col1','col3','col4'])
df

    col1  col3  col4
r1     0     1     2
r3     3     4     5
r4     6     7     8

Reindex the rows of the dataframe by passing sequence to reindex method.

In [20]:
df_rows = df.reindex(['r1', 'r2' ,'r3', 'r4']) 
df_rows

    col1  col3  col4
r1   0.0   1.0   2.0
r2   NaN   NaN   NaN
r3   3.0   4.0   5.0
r4   6.0   7.0   8.0

 Reindex the columns of the dataframe with 'columns' keyword to reindex method

In [21]:
df_cols = df.reindex(columns=['col1','col2' ,'col3','col4'])
df_cols

    col1  col2  col3  col4
r1     0   NaN     1     2
r3     3   NaN     4     5
r4     6   NaN     7     8

Reindex both the rows,columns of the dataframe

In [27]:
df_reindex = df.reindex(index = ['r1', 'r2' ,'r3', 'r4'], columns = ['col1','col2' ,'col3','col4'])
df_reindex

    col1  col2  col3  col4
r1   0.0   NaN   1.0   2.0
r2   NaN   NaN   NaN   NaN
r3   3.0   NaN   4.0   5.0
r4   6.0   NaN   7.0   8.0

In [30]:
# filling the missing values by 0 
df.reindex(
    index = ['r1', 'r2' ,'r3', 'r4'], 
    columns = ['col1','col2' ,'col3','col4'],
    fill_value = 0
)

    col1  col2  col3  col4
r1     0     0     1     2
r2     0     0     0     0
r3     3     0     4     5
r4     6     0     7     8