# Pandas Series
- A Series is a one-dimensional array-like object containing a sequence of values and an associated array of data labels, called its index.
- Holds any type of data (Strings, Integers, Floats,..)

In [33]:
# Import NumPy package and load pandas
import numpy as np
import pandas as pd

## Creating Series

### Creating a Series by passing list of values

In [34]:
 pd.Series([-1, 2, 3, -5])

0   -1
1    2
2    3
3   -5
dtype: int64

### Creating series with custom index

In [35]:
pd.Series([1,2,3],index=['x','y','z'])

x    1
y    2
z    3
dtype: int64

In [36]:
pd1 = pd.Series([1, 2, 3])
pd1

0    1
1    2
2    3
dtype: int64

In [37]:
pd1.index = ['x', 'y', 'z']
pd1

x    1
y    2
z    3
dtype: int64

In [38]:
indexs = pd.Index(np.arange(3))
pd.Series(['x','y','z'],index=indexs)

0    x
1    y
2    z
dtype: object

### Create Series with Python Dictonary

In [39]:
pd.Series({'x': 1, 'y': 2, 'z': 3})

x    1
y    2
z    3
dtype: int64

In [40]:
pds = pd.Series({'x': 1, 'y': 2, 'z': 3})
pds

x    1
y    2
z    3
dtype: int64

In [41]:
# Both the Series object itself and its index have a name attribute
pds.name = 'SampleData'
pds.index.name = 'label'
pds

label
x    1
y    2
z    3
Name: SampleData, dtype: int64

In [42]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
pd.Series(dict1,index=['a','b','c','d'])

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64

Here three values found in 'dict1' were placed in the appropriate locations, but since no value for 'd', it appears as 'NaN' (not a number), which is considered in pandas to mark missing or NA values. Since 'd' was not included in indexes, it is excluded from the resulting object.

### Create Series with random values using Numpy

In [43]:
pd.Series(np.random.randn(3))

0    0.221340
1    0.043401
2    0.546390
dtype: float64

In [44]:
# Create Series with random values using Numpy with custom labels
pd.Series(np.random.randn(3), index = ['x','y','z'])

x   -0.032539
y    1.188615
z    0.010553
dtype: float64

### Inspecting Series

In [45]:
pds

label
x    1
y    2
z    3
Name: SampleData, dtype: int64

In [46]:
# get only the values
pds.values

array([1, 2, 3], dtype=int64)

In [47]:
# get the index details
pds.index

Index(['x', 'y', 'z'], dtype='object', name='label')

In [48]:
index = pds.index

In [49]:
index

Index(['x', 'y', 'z'], dtype='object', name='label')

In [50]:
index[1:]

Index(['y', 'z'], dtype='object', name='label')

#### Note: Index objects are immutable and thus canâ€™t be modified.

In [51]:
# Acessing values by using labels
print(pds['y'])
print(pds[['x','y']])

2
label
x    1
y    2
Name: SampleData, dtype: int64

In [52]:
# filter
pds[pds < 3]

label
x    1
y    2
Name: SampleData, dtype: int64

##### Note: Series is fixed length ordered dict, as it is a mapping of index values to data values.

In [53]:
print('a' in pds)
print('x' in pds)

False
True

### Detect missing data ('NaN')

In [54]:
# The isnull and notnull functions are used to detect missing data
import numpy as np
pds1 = pd.Series([-1, 2, 3, -5, np.nan])
pds1

0   -1.0
1    2.0
2    3.0
3   -5.0
4    NaN
dtype: float64

In [55]:
pd.isnull(pds1)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [56]:
pd.notnull(pds1)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [57]:
pds1.isnull()

0    False
1    False
2    False
3    False
4     True
dtype: bool

### Mathamatical operations

In [58]:
pds1

0   -1.0
1    2.0
2    3.0
3   -5.0
4    NaN
dtype: float64

In [59]:
pds1 * 2

0    -2.0
1     4.0
2     6.0
3   -10.0
4     NaN
dtype: float64

In [60]:
pds1 + pds1

0    -2.0
1     4.0
2     6.0
3   -10.0
4     NaN
dtype: float64

Series automatically aligns by index label while performing arithmetic operations

In [61]:
np.exp(pds1)

0     0.367879
1     7.389056
2    20.085537
3     0.006738
4          NaN
dtype: float64